<section class="row w-100 main">
  <div class="d-none w-100 d-md-block col-md-4 left-side">
    <div class="row">
      <div *ngFor='let product of products' class="col-sm-6">
        <a routerLink='/show' [routerLink]="['/show']" (click)='productselect(product.id)'>
          <div class="card mb-5">
            <img class="card-img" [src]='product.image' alt="Card image" class="img-sty">
            <div class="card-body text-center">
              <h3 class="card-title">{{product.name | titlecase}}</h3>
              <p class="card-text">₹{{product.price | number}}</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        <div class="card card-sty mb-2 ">
          <div class="card-body d-flex justify-content-center align-items-center">
            <a routerLink='/add'><button class="btn btn-sty w-100">Add Products</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
  <div class="d-md-none mt-5 w-100 col-md-4 left-side">
    <div class="row">
      <div *ngFor='let product of products' class="col-sm-6">
        <a routerLink='/show' [routerLink]="['/show']" (click)='productselect(product.id)'>
          <div class="card mb-5">
            <img class="card-img" [src]='product.image' alt="Card image">
            <div class="card-body text-center">
              <h5 class="card-title">{{product.name | titlecase}}</h5>
              <p class="card-text">₹{{product.price | number}}</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        <div class="card card-sty">
          <div class="card-body d-flex justify-content-center align-items-center">
            <a routerLink='/add'><button class="btn btn-danger w-100">Add Products</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>